{% extends 'base.html' %}

{% block title%} Administracao {% endblock%}

{% block main %}

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Listagem de Clientes</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%" scope="col">Nome</th>
                            <th width="15%" scope="col">Idade</th>
                            <th width="15%" scope="col">Salario</th>
                            <th width="10%" scope="col">Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for person in persons %}
                            <tr>
                                <td><a href="{% url 'persons_update' person.id %}" title="Editar {{ person.first_name }}?">{{ person.first_name }}</a></td>
                                <td><a href="{% url 'persons_update' person.id %}" title="Editar {{ person.first_name }}?">{{ person.age }}</a></td>
                                <td><a href="{% url 'persons_update' person.id %}" title="Editar {{ person.first_name }}?">{{ person.salary }}</a></td>
                                <td>
                                    <a href="{% url 'persons_delete' person.id %}" class="trash-item" title="Delatar {{ person.first_name }}?">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
        </div>
        <div class="col">
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Projeto Plaquinha</span>
        </div>
    </footer>
{% endblock %}